@media only screen and (max-width: 1108px) {
  .wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 900px) {
	body {
		font-size: 85%;
	}
}
  
  #social {
    position: absolute;
    top: 82px;
    right: 4px;
    width: auto;
  }
  
  #social a {
    display: inline-block;
  }
}